<!-- <navbar-app></navbar-app> -->
<div class="container">
		<article class="post">
			<header class="post-header">
				<h2 class="post-title">
					<a href="">The earliest form of technology</a>
				</h2>
			</header>
			<section class="post-excerpt">
				<p>
					We are very pleased to announce the extra-
					ordinary meeting of the board of directors
					coming up in the summer of 2016.
					New member and executive directors will be
					announced also at this summer meeting as well
					as ane expanded office retreat and boot camp.
					<a class="read-more" href="">>></a>
				</p>
			</section>
			<footer class="post-meta">
				<img class="author-thumb" src="" alt="author name" nopin="nopin">
				<a href="">author.name</a>
				<a href="">comments</a>
				<time class="post-date" datetime="">01 January 2017</time>
			</footer>
		</article>

		<article class="post">
			<header class="post-header">
				<h2 class="post-title">
					<a href="">The earliest form of technology</a>
				</h2>
			</header>
			<section class="post-excerpt">
				<p>
					We are very pleased to announce the extra-
					ordinary meeting of the board of directors
					coming up in the summer of 2016.
					New member and executive directors will be
					announced also at this summer meeting as well
					as ane expanded office retreat and boot camp.
					<a class="read-more" href="">>></a>
				</p>
			</section>
			<footer class="post-meta">
				<img class="author-thumb" src="" alt="author name" nopin="nopin">
				<a href="">author.name</a>
				<a href="">comments</a>
				<time class="post-date" datetime="">01 January 2017</time>
			</footer>
		</article>

		<article class="post">
			<header class="post-header">
				<h2 class="post-title">
					<a href="">The earliest form of technology</a>
				</h2>
			</header>
			<section class="post-excerpt">
				<p>
					We are very pleased to announce the extra-
					ordinary meeting of the board of directors
					coming up in the summer of 2016.
					New member and executive directors will be
					announced also at this summer meeting as well
					as ane expanded office retreat and boot camp.
					<a class="read-more" href="">>></a>
				</p>
			</section>
			<footer class="post-meta">
				<img class="author-thumb" src="" alt="author name" nopin="nopin">
				<a href="">author.name</a>
				<a href="">comments</a>
				<time class="post-date" datetime="">01 January 2017</time>
			</footer>
		</article>

		<article class="post">
			<header class="post-header">
				<h2 class="post-title">
					<a href="">The earliest form of technology</a>
				</h2>
			</header>
			<section class="post-excerpt">
				<p>
					We are very pleased to announce the extra-
					ordinary meeting of the board of directors
					coming up in the summer of 2016.
					New member and executive directors will be
					announced also at this summer meeting as well
					as ane expanded office retreat and boot camp.
					<a class="read-more" href="">>></a>
				</p>
			</section>
			<footer class="post-meta">
				<img class="author-thumb" src="" alt="author name" nopin="nopin">
				<a href="">author.name</a>
				<a href="">comments</a>
				<time class="post-date" datetime="">01 January 2017</time>
			</footer>
		</article>

		<nav class="pagination" role="navigation">
			<span class="page-number">Page 1 of 6</span>
			<a class="older-posts" href="">Older Posts</a>
			<span aria-hidden="true">→</span>
		</nav>
	</div>
