<!-- <navbar-app></navbar-app> -->
<div class="container">
		<section *ngFor="let blog of blogs; let i=index">
			<article class="post">
				<header class="post-header">
					<h2 class="post-title">
						<a href="#">{{blog.title}}</a>
					</h2>
				</header>
				<section class="post-excerpt">
					<p>
						{{blog.content}}
						<a class="read-more" href="">>></a>
					</p>
				</section>
				<footer class="post-meta">
					<img class="author-thumb" [src]="blog.imageUrl" alt="author name" nopin="nopin">
					<a href="">{{blog.author}}</a>
					<a href="">{{blog.comment}}</a>
					<time class="post-date" datetime="">{{blog.postDate | date: 'longDate'}}</time>
				</footer>
			</article>
		</section>

		<nav class="pagination" role="navigation">
			<span class="page-number">Page 1 of 6</span>
			<a (click)="goOlder()" class="older-posts" href="">Older Posts</a>
			<a (click)="goNewer()" class="older-posts" href="">Newer Posts</a>
			<span aria-hidden="true">→</span>
		</nav>
	</div>
