<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-xs-6">
<!--
					<h4>Who we are</h4>
					<p><i>some text</i> </p>
-->
					<p><a href="about.html">More about us<i class="glyphicon glyphicon-info-sign"></i></a></p>
					<i class="fa fa-creative-commons" aria-hidden="true">ashGovender</i>
				</div>

				<div class="col-sm-2 col-xs-6">
					<h4>Links</h4>
					<ul class="list-inline">
						<li><a href="#">Home</a></li>
						<li><a href="#">blogs</a></li>
						<li><a href="#">about</a></li>
					</ul>
				</div>

				<div class="clearfix visible-xs"></div>

				<div class="col-sm-2 col-xs-6">
					<h4>Stay in touch</h4>
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram"></i></a></li>
						<li><i class="fa fa-twitter"></i></li>
					</ul>
				</div>

				<div class="col-sm-4 col-xs-6">
					<h4>Contact us</h4>
					<ul class="list-inline">
						<li><i class="glyphicon glyphicon-globe"></i>RSA, Durban</li>
						<li><i class="glyphicon glyphicon-phone"></i>349494949</li>
						<li><i class="glyphicon glyphicon-envelope"></i><a href="mailto:co@gmail.com"></a></li>
					</ul>


				</div>

			</div>
		</div>
	</div>
